body {
  padding: 0;
  margin: 0;

  font-family: 'Red Hat Display', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;

  background-color: hsl(225, 100%, 94%);
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-illustration {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.order-summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: large;
  font-weight: 900;
  letter-spacing: 0.09 rem;
}

.comment {
  text-align: center;
  line-height: 1.2rem;
  width: 80%;
  font-size: 0.8rem;
  opacity: 0.5;
}

.annual-plan-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  background-color: hsl(225, 100%, 98%);
  height: 4rem;
  padding: 15px;
  border-radius: 10px;
}

.music {
  width: 35px;
  height: 35px;
}

.annual-plan-price-container {
  display: flex;
  flex-direction: column;
}

.music-and-plan-container {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.annual-plan-price-container span:first-of-type {
  font-size: small;
  font-weight: 900;
}

.annual-plan-price-container span:last-of-type {
  font-size: 0.8rem;
  opacity: 0.5;
}

.change-plan {
  font-size: small;
  font-weight: 800;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
}

.change-plan:hover {
  cursor: pointer;
  color: hsl(245, 75%, 65%);
}

.payment {
  width: 85%;
  background-color: hsl(245, 75%, 52%);
  height: 40px;
  font-size: 0.7rem;
  border-radius: 10px;
  color: white;
  letter-spacing: 0.09 rem;
  font-weight: 900;
  box-shadow: 0px 20px 15px 0px hsla(245, 75%, 52%, 0.2);

  /* getting rid of button defaults */
  border: none;
}

.payment:hover {
  cursor: pointer;
  background-color: hsl(245, 75%, 65%);
}

.cancel-order {
  width: 85%;
  height: 40px;
  font-size: 0.7rem;
  border-radius: 10px;
  font-weight: 900;
  opacity: 0.5;
  letter-spacing: 0.09 rem;
  /* getting rid of button defaults */
  border: none;
  background: none;
  margin-top: -10px;
}

.cancel-order:hover {
  cursor: pointer;
  opacity: 1;
}

.everything-but-the-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

@media (max-width: 375px) {
  body {
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
  }
}

@media (min-width: 1441px) {
  body {
    background-image: none;
  }
}

/* empty block, no hover styles will apply */
/* update: todo: this doesn't work, check later */
@media (hover: none) {
  .payment:hover {
  }
  .cancel-order:hover {
  }
  .change-plan:hover {
  }
}
